<h1>*ngFor Objs</h1>
<div>
  <div *ngFor="let product of products ">
    <img width="250" [src]="product.image" alt="image">
    <h2>{{product.price}}</h2>
    <p>{{product.name}}</p>
  </div>
</div>

<hr/>
<h1>*ngFor</h1>
<input type="text" required [(ngModel)]="newName" />
<button (click)="addName()">Add name</button>
<ul>
  <li *ngIf="names.length === 0">No hay nombres</li>
  <li *ngFor="let name of names; index as i">
    {{i}} {{ name }}
    <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>
<hr/>
<h1>*ngIf</h1>
<input type="text" required [(ngModel)]="persona.name" />
<p *ngIf="persona.name === 'nicolas'">Soy Nicolas</p>
<p *ngIf="persona.name === 'julian' && persona.age === 18; else myBlock">Soy Julian</p>
<ng-template #myBlock>
  <p>Bloque de else</p>
</ng-template>
<hr/>
<h1>NgModel</h1>
<p>Nombre {{persona.name}}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="persona.name" />
<p>Valid: {{nameInput.valid}}</p>
<p>Nombre {{persona.age}}</p>
<input type="number" required #ageInput="ngModel" max="30" min="10" [(ngModel)]="persona.age" />
<p>Valid: {{ageInput.valid}}</p>

<hr>
<h1>Eventos</h1>
<button [disabled]="btnDisabled" >Enviar</button>
<button (click)="toggleButton()">Toggle button</button>
<p>Edad {{persona.age}}</p>
<button (click)="increaseAge()">age ++</button>
<div class="box" (scroll)="onScroll($event)">
<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur eveniet soluta ducimus corrupti aspernatur explicabo commodi, adipisci consequuntur praesentium quia molestias officia officiis beatae quaerat voluptatem. Optio odit doloribus delectus?
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores quis ad voluptatum? At dolore reiciendis est excepturi, in optio dignissimos fugit aliquid et accusamus illo praesentium omnis magni ab sapiente!
</p>
</div>
<p>Nombre {{persona.name}}</p>
<input type="text" [value]="persona.name" (keyup)="ChangeName($event)">


<hr>
<h1>Propiedades</h1>
<button [disabled]="btnDisabled" >Enviar</button>
<input type="text" [value]="persona.name">
<progress id="file" max="100" [value]="persona.age"></progress>
<img width="100" [src]="persona.avatar"  alt="">

<hr>
<h1>Hola mundo</h1>
<h2>{{'Hola mundo '.repeat(5)}}</h2>
<p>3 + 3 = {{3+3}}</p>

<h3>hola, soy {{ name }} y tengo {{ age }}</h3>
<img src={{img}} alt="">
